*,
*::before,
*::after {
  box-sizing: border-box;
}

html,
#root {
  background: url(back.png) no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

html::before {
  opacity: 0.2;
}

.guest-1 {
  padding-top: 0.5rem;
  padding-left: 1rem;
  padding-right: 1rem;
  text-align: center;
}

.guest {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  border: 1px solid rgb(50, 50, 50);
  border-radius: 10px;
  margin: 2rem;
}

.card-text {
  padding: 1rem;
}

.navbar {
  padding-top: 1rem;
  background: url("back.png");
  background-blend-mode: multiply;
  border-bottom: 1px solid rgb(50, 50, 50);
}

.table-striped {
  text-align: center;
  margin-top: 3em;
}

.input-box {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
}

.edit-box {
  margin-top: 3rem;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 1rem;
  max-width: 50%;
}

.form-control {
  border: 1px solid rgb(50, 50, 50);
}

.custom-field {
  /* margin-left: 15%; */
  margin-bottom: 25px;
  font-size: 13px;
  position: relative;
}

.custom-field input {
  border: none;
  -webkit-appearance: none;
  -ms-appearance: none;
  -moz-appearance: none;
  appearance: none;
  background: #ccc;
  padding: 12px;
  border-radius: 3px;
  width: 100%;
  font-size: 14px;
}

.custom-field .placeholder {
  position: absolute;
  left: 15px;
  /* bottom: 50%; */
  top: 22px;
  transform: translateY(-60%);
  width: calc(100% - 24px);
  color: #444;
  white-space: nowrap;
  text-overflow: ellipsis;
  transition: top 0.3s ease, color 0.3s ease, font-size 0.3s ease;
}

.custom-field input:focus + .placeholder {
  top: -10px;
  font-size: 13px;
  color: #222;
}

input:valid + .placeholder {
  top: -10px;
  font-size: 13px;
  color: #222;
}

.container {
  width: auto;
  margin: auto;
}

.form-group {
  text-align: center;
  margin-bottom: 10px;
}

.text-muted {
  font-size: 14px;
}
