{% extends 'layout.html' %}

{% block body %}

	{% if request.user.is_authenticated %}
		<div class="mt-3 input-box">
			<form action="" method="post"> 	{% csrf_token %}
				<input class="form-control mr-sm-2" type="text" placeholder="Item To Do" name="item" autocomplete="off">
				<button class="btn btn-outline-success mt-2" type="submit" name="submit">Add</button>
			</form>
		</div>
	{% endif %}

	{% if request.user.is_authenticated %}
		<table class="table table-striped">
			{% for item in items %}
				<tr>
					<td class="col-6 align-middle">
				 		{{ item.content }} 
				 	</td>
				 	<td class="col-3 align-middle">
				 		<form method="post">
				 			{% csrf_token %}
				 			<button class="btn btn-outline-primary" name="edit" type="submit" value={{ item.id }}>Edit</button>
				 		</form>
				 	</td>
				 	<td class="col-3 align-middle">
				 		<form method="post">
				 			{% csrf_token %}
				 			<button class="btn btn-outline-danger" name="delete" type="submit" value={{ item.id }}>Delete</button>
				 		</form>
				 	</td>
				</tr>
			{% endfor %}	
		</table>
	{% else %}
		<div class="guest">
			<h6 class="guest-1">Register for an account to have your own personalized to-do list!</h6>
			<p class="guest-1">Example List:</p>
		</div>
		<table class="table table-striped">
			{% for item in items %}
				<tr>
					<td class="col-6 align-middle">
				 		{{ item.content }} 
				 	</td>
				 	<td class="col-3 align-middle">
				 		<form method="">
				 			{% csrf_token %}
				 			<button class="btn btn-outline-primary" name="edit" type="button" value={{ item.id }}>Edit</button>
				 		</form>
				 	</td>
				 	<td class="col-3 align-middle">
				 		<form method="">
				 			{% csrf_token %}
				 			<button class="btn btn-outline-danger" name="delete" type="button" value={{ item.id }}>Delete</button>
				 		</form>
				 	</td>
				</tr>
			{% endfor %}
		</table>
	{% endif %}
{% endblock %}